In [3]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('salesdata.csv')

# Display the first few rows to understand the structure (optional)
print(df.head())

# Create a pivot table to find item-wise units sold
pivot_table = df.pivot_table(values='Units', index='Item', aggfunc='sum')

# Display the pivot table
print(pivot_table)

# Output
#    Region  Manager   SalesMan          Item  Units  Unit_price  Sale_amt
#0     East   Martha  Alexander    Television     95      1198.0  113810.0
#1  Central  Hermann     Shelli  Home Theater     50       500.0   25000.0
#2  Central  Hermann       Luis    Television     36      1198.0   43128.0
#3  Central  Timothy      David    Cell Phone     27       225.0    6075.0
#4     West  Timothy    Stephen    Television     56      1198.0   67088.0
 #             Units
#Item               
#Cell Phone      278
#Desk             10
#Home Theater    722
#Television      716
#Video Games     395

    Region  Manager   SalesMan          Item  Units  Unit_price  Sale_amt
0     East   Martha  Alexander    Television     95      1198.0  113810.0
1  Central  Hermann     Shelli  Home Theater     50       500.0   25000.0
2  Central  Hermann       Luis    Television     36      1198.0   43128.0
3  Central  Timothy      David    Cell Phone     27       225.0    6075.0
4     West  Timothy    Stephen    Television     56      1198.0   67088.0
              Units
Item
Cell Phone      278
Desk             10
Home Theater    722
Television      716
Video Games     395